doctype html
html
  head
    title NoteTaker
    link(rel="stylesheet", href="/css/style.css")

body(ng-app="note", style="display: none;")
  div#header
    a.logout-link(href='/logout') Logout
  div#content
    block content

  script(type="application/javascript", src="/node_modules/angular/angular.min.js")
  script(type="application/javascript", src="/node_modules/ckeditor/ckeditor.js")
  script(type="application/javascript", src="/node_modules/angular1-ckeditor/angular-ckeditor.min.js")
  script(type="application/javascript", src="/public/note.js")
