extends application

block content
  div(ng-controller="NoteListCtrl")
    ul.notelist(ng-repeat="note in notes")
      li.note
        a(href="/shownote/{{note._id}}") {{note.title}} ({{note.creation_date | date: 'yyyy-MM-dd HH:mm:ss'}})
        button(ng-click="remove(note._id)") Delete
        div(ng-show="note.tags.length")
          span.label Tags:
          div.tag-container(ng-repeat="tag in note.tags")
            span.label {{tag}}

  form(action="/note", method="POST")
    button New note
