doctype html
html
  head
    link(rel="stylesheet", href="/css/style.css")
    script(type="application/javascript", src="/node_modules/angular/angular.min.js")
    script(type="application/javascript", src="/public/user.js")

  body
    div
      form.registerform(action="register", method="POST")
        input(name="username", type="text")
        input(name="password", type="password")
        button Register
